{% extends "base.html" %}
{% load thumbnail %}
{% block title %}
    {{ user.username }}
{% endblock title %}
{% block content %}
    <div class="flex flex-col justify-center items-center">
        <div class="relative flex flex-col items-center rounded-[20px] w-[400px] mx-auto p-4 bg-white bg-clip-border shadow-3xl border-2 border-gray-200">
            <div class="relative flex h-32 w-full justify-center rounded-xl">
                {% if user.profile.cover_image %}
                    {% thumbnail user.profile.cover_image "400x128" crop="center" as im %}
                        <img src="{{ im.url }}"
                             alt="{{ user.username }}'s profile cover"
                             height="{{ im.height }}"
                             width="{{ im.width }}"
                             class="h-full w-full object-cover rounded-xl">
                    {% endthumbnail %}
                {% else %}
                    <div class="h-full w-full bg-gray-300 rounded-xl"></div>
                {% endif %}
                <div class="absolute -bottom-12 flex h-[87px] w-[87px] items-center justify-center rounded-full border-[4px] border-white {% if user.profile.image %}{% else %}bg-gray-500{% endif %}">
                    {% if user.profile.image %}
                        {% thumbnail user.profile.image "100x100" crop="center" as im %}
                            <img src="{{ im.url }}"
                                 height="{{ im.height }}"
                                 width="{{ im.width }}"
                                 alt="{{ user.username }}'s profile picture"
                                 class="rounded-full size-full" />
                        {% endthumbnail %}
                    {% else %}
                        <i class="bx bx-user text-4xl text-white"></i>
                    {% endif %}
                </div>
            </div>
            <div class="mt-16 flex flex-col items-center w-full space-y-5">
                <div class="text-center">
                    <h4 class="text-xl font-bold text-navy-700">{{ user.username }}</h4>
                    {% if user.first_name or user.last_name %}
                        <p class="text-gray-600 mt-1">{{ user.first_name }} {{ user.last_name }}</p>
                    {% endif %}
                </div>
                {% if request.user.is_authenticated %}
                    {% if request.user == user %}
                        <a href="{% url 'profiles:edit' username=user.username %}"
                           class="p-3 bg-indigo-600 rounded-full text-white w-full font-semibold text-center hover:bg-indigo-700 transition duration-200">
                            Edit Profile
                        </a>
                    {% else %}
                        <button class="p-3 bg-black rounded-full text-white w-full font-semibold js-follow"
                                type="button"
                                data-username="{{ user.username }}"
                                data-url="{% url 'profiles:follow' user.username %}"
                                data-action="{% if you_follow %}unfollow{% else %}follow{% endif %}">
                            <span class="js-follow-text">
                                {% if you_follow %}
                                    Unfollow
                                {% else %}
                                    Follow
                                {% endif %}
                            </span>
                        </button>
                    {% endif %}
                {% endif %}
            </div>
            <div class="mt-6 mb-3 flex gap-14 md:!gap-14">
                <div class="flex flex-col items-center justify-center">
                    <p class="text-2xl font-bold text-navy-700">{{ total_posts }}</p>
                    <p class="text-sm font-normal text-gray-600">Posts</p>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <p class="text-2xl font-bold text-navy-700">{{ total_followers }}</p>
                    <p class="text-sm font-normal text-gray-600">Followers</p>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <p class="text-2xl font-bold text-navy-700 ">{{ total_following }}</p>
                    <p class="text-sm font-normal text-gray-600">Following</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
