{% load thumbnail %}
<div class="flex items-center justify-center mb-8">
    <div class="rounded-xl border p-5 shadow-md w-9/12 bg-white">
        <div class="flex w-full items-center justify-between border-b pb-3">
            {% comment %}
                    TODO: Add url to profile details page
            {% endcomment %}
            <a href="{% url 'profiles:detail' post.author.username %}"
               class="flex items-center space-x-3 cursor-pointer">
                {% thumbnail post.author.profile.image "100x100" crop="center" as im %}
                    <img src="{{ im.url }}"
                         height="{{ im.height }}"
                         width="{{ im.width }}"
                         alt="{{ post.author.username }}'s profile picture"
                         class="h-8 w-8 rounded-full" />
                {% endthumbnail %}
                <div class="text-lg font-bold text-slate-700">{{ post.author.username }}</div>
            </a>
            <div class="flex items-center space-x-8">
                <div class="text-xs text-neutral-500">{{ post.date|date:"F j, Y, g:i a" }}</div>
            </div>
        </div>
        <div class="mt-4 mb-6">
            <div class="text-sm text-neutral-600">{{ post.text }}</div>
        </div>
        {% if show_detail_link %}
            <a href="{% url 'feed:detail' post.id %}"
               class="font-semibold text-blue-500 hover:underline cursor-pointer">Read more</a>
        {% endif %}
    </div>
</div>
